<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <a class="sidebar-nav-item"><a href="/weekend.html">The Weekend</a>
    <a class="sidebar-nav-item"><a href="/locations.html">Locations</a>
    <a class="sidebar-nav-item"><a href="/transport.html">Transport</a>
    <a class="sidebar-nav-item"><a href="/accommodation.html">Accommodation</a>
    <a class="sidebar-nav-item"><a href="/foodanddrink.html">Food & Drink</a>
    <a class="sidebar-nav-item"><a href="/cambridge.html">Cambridge</a>
    <a class="sidebar-nav-item"><a href="/faq.html">FAQ</a>
    <a class="sidebar-nav-item"><a href="/gifts.html">Gift Lift</a>
    <a class="sidebar-nav-item"><a href="/contact.html">Contact Us</a>

  </div>
</div>
